@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideFromBottom {
    0% {
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(0%);
    }
}

.liked-post{
    animation: slideFromBottom 0.5s;
}